:root {
    --title-accent-color: #606EE8;
    --title-accent-color-dark: #4550af;
    --title-color: #FFF;
    --accent-color: #606EE8;
    --background-color: 'lightgrey';

    --font-size-1: 2.875rem;
    --font-size-2: 4rem;
    --font-size-3: 6.5rem;
    --font-size-4: 3.25rem;
    --font-size-5: 1rem;
    --font-size-6: 1.5rem;


}