@import '/src/styles/Responsive.global';

.Container {
    position: fixed;
    z-index: 1000;
    width: 100vw;
    display: none;
    top: 0;
    left: 0;


    @include responsive($med) {
        display: block;
    }
}

.Hamburger {
    position: absolute;
    z-index: 10000;
    display: none;
    top: 0;
    right: 0.8rem;



    div[aria-expanded="true"] {
        overflow: hidden;

    }


    @include responsive($med) {
        display: block;
    }
}

.Overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    backdrop-filter: blur(20rem);

}